<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio E.E.M.T.I Dep. Joaquim de Figueiredo Correia</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/tela2.css">
    <script src="/assets/js/index.js"></script>
</head>
<body>
    <header class="cabecalho">
        <div class="LogoFiguei"> 
            <img src="./assets/images/logoFigueiredo.png" alt="logo da escola Figueiredo Correia" class="LogoFigueiredoCorreia">
        </div>
        <div class="Logout">
            <a href="/"> 
                <img src="./assets/images/doorIcon.png" alt="Porta para sair da aba" class="LogoutDoor">

            </a>
        </div>
    </header>
    <main>
        <h1 class="cronogramaSemanal">Escolha o dia da semana: </h1>
        <% if (cardapios.length > 0) {%>
            <% cardapios.forEach(cardapio => {%>
        <details class="<%=cardapio.dia%>"> 
            <summary> <%= cardapio.dia %><span> <img src="./assets/images/arrowIcon.png" alt="imagem de flecha"></span></summary>
            <table>
                <tr class="line1">
                    <th>
                     08:40
                    </th>
                    <td class="content">
                        <%= cardapio.manha %>
                    </td>
                   <td> <a href="/valorNutricional"> <img class="info" src= "./assets/images/infoIcon.png" alt=""></a></td>
                </tr>
                <tr class="line2">
                   <th>
                       11:30
                   </th>
                   <td class="content2">
                    <%= cardapio.almoco %>
                   </td>
                   <td> <a href="/valorNutricional"> <img class="info" src= "./assets/images/infoIcon.png" alt=""></a></td>
                </tr>
                <tr class="line3">
                    <th>
                        14:40
                    </th>
                    <td class="content">
                        <%= cardapio.tarde %>
                    </td>
                    <td> 
                        <a href="/valorNutricional"> <img class="info" src= "./assets/images/infoIcon.png" alt=""></a>
                    </td>
                 </tr>
            </table>
        </details>
        <% }) %>
      <%}%>
    </main>
    <footer>
        <div class="feedbackIcon">
            <a  href="/cardapio/feedback">
                <img src="/assets/images/feedbackIcon.png" alt="Feedback icon">
            </a>

        </div>
    </footer>
</body>
</html>