<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequência da escola</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/tela6.css">
</head>
<body>
    <header class="cabecalho">
        <div class="back">
            <a class="back" href="/ferramentas/<%= user._id %>">
                <img src="./assets/images/flechaIcon.png" alt="Ícone de uma flecha" class="ArrowBack">
                <p class="VoltarParaOutraAba"> Quantidade de alunos</p>

        </a>
        </div>
    </header>
    <main>
        <table>
            <th id="topico1" class="topicos">Sala</th>
            <th class="topicos">Quantidade de Alunos</th>
            <th id="topico2" class="topicos">Atualizado em:</th>
            <% if (frequencias.length > 0) {%>
                <% frequencias.forEach( frequencia => {%>
            <tr> 
                <td >
                    <a href="/frequencia/AddFrequencia/<%= frequencia.id%>">
                    <%= frequencia.sala %>
                </a>
                </td>
                <td>
                    <%= frequencia.alunos %>
                </td>
                <td>
                    <%= frequencia.atualizadoEm %>
                </td>
            </tr>
           
            <% }) %>
            <%}%>
            <tr class="total">
                <td id="td3">Total</td>
            
                <td id="td4"><%= total %></td>
                <td ><%=ultimoAtualizado%></td>
                
            </tr>
        </table>
        <!-- <a href="/frequencia/AdicionarFrequencia" class="AddStudents">
            Adicionar frequência
        </a> -->
    </main>
</body>
</html>